body {
    background: #FFF;
    
}

* {
    font-family: serif;
}

/*Parte do cabeçalho*/
.containerHeader {
    position: fixed;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background: linear-gradient(to left, #ffffff, #000000, #ffffff);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.16);
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}

/*JAPAN CARS*/
#japancars {
    color: black;
    padding-left: 1%;
    box-sizing: border-box;
    font-size: 300%;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*Parte do lado direito (blog, about, ...)*/
nav {
    right: 5;
    position: absolute;
    text-align: end;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 5px;
    margin-top: 0.2%;
}

/*Parte do Japão*/
.section1Div {
    align-items: center;
    text-align: center;
    padding-top: 7%;
}

#japaoImage {  
    width: 60%;
    height: 70%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

/*Texto abaixo da imagem do Japão*/
.introduction {
    font-size: 54px;
    font-weight: 700;
    line-height: 100%; 
    padding: 2%;
}

/*Texto antes do article*/
#jdm {
    font-weight: bold;
}

.question {
    font-size: 20px;
}

#linha1 {
    width: 592px; 
    border: solid 2px;
}

/*Parte da SECTION 2*/
.article2 {
    align-items: center;
}

/*Título da SECTION 2*/
.titulo {
    font-size: 44px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
}

/*Imagens da SECTION 2*/
.figura1 {
    display: inline-flex;
}

.r34 {
    width: 405px; 
    height: 250px;
    border-radius: 10%;
}

#r34_text {
    width: 288px;
    height: 78px;
    margin-right: 21%;
}

.supra {
    width: 405px; 
    height: 250px;
    padding-left: 5%;
    border-radius: 10%;
}

#supra_text {
    width: 288px;
    height: 78px;
    margin-top: -5%;
    margin-left: 22%;
}

.figura2 {
    display: inline-flex;
}

.rx7 {
    width: 405px; 
    height: 250px;
    border-radius: 10%;
}

#rx7_text {
    width: 288px;
    height: 78px;
    margin-right: 21%;
}

.evolution {
    width: 405px; 
    height: 250px;
    padding-left: 5%;
    border-radius: 10%;
}

#evolution_text {
    width: 288px;
    height: 78px;
    margin-top: -5%;
    margin-left: 22%;
}

/*Parte FINAL*/
.section3 {
    width: auto;
    height: 400px;
    background-image: linear-gradient(to top, black, rgb(65, 65, 65));
    color: #FFF;
    align-items: center;
    text-align: center;
}

/*Texto japao*/
.japanEnd {
    font-family: 'Times New Roman';
    height: 27px;
    padding-top: 10%;
    font-size: 240%;
}

#texto_contato {
    width: fixed 488px;
    height: fixed 71px;
    text-align: center;
}

.contato {
    padding: 1%;
}